.users-container {
position:absolute;
left:0px;
right:0px;
top:0px;
bottom:0px;
background-color:#303030;
overflow:hidden;
}

.users-inner-container {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 0;
  margin: auto;
  background-color: #393939;
}
